body {}

h1 {
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: bold;
}

th,
td {
    border-style: solid;
    border-width: 1px;
    width: 100%;
}

table {
    display: contents;
    margin: auto;
    padding: 20px;
}

.Dumb {
    background-color: gray;
}

.Wise {
    color: white;
    background-color: black;
}

.Young {
    background-color: red;
}

.Old {
    background-color: pink;
    font: black;
}

#first {
    list-style: none;
    padding: 10px 30px;
    background-image: url("../Styles/download.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 10px;

}

#second {
    list-style: none;
    padding: 10px 30px;
    background-image: url("../Styles/download\ \(1\).png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}

.form {
    margin-left: 40%;
}

.sign {
    margin-left: 42%;
    margin-top: 5vh;
}